$post-color: #D8D8D8;
$primary-color: #D8D8D8;
$my-radius: 6px;
$charcoal:#484848;
$amount:20%;

.center{
	 position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    height: 70px;
    width:100%;
}
.blu{

	 position: absolute;
    left: 0px;
    top: 670px;
    z-index: -1;
    height: 200px;
    width:100%;
}
.interior{
	 position: absolute;
    left: 0px;
    top: 60px;
    z-index: -1;
    height: 500px;
    width:100%;
}
.logo1{
	float:left;
	height: 300px;
	width: 35%;
	margin-left: 20%;
	margin-right:10%;
	margin-bottom: 40px;
	margin-top:30px;

}
body{
	p{
		clear:both;
	}
}
.home{
	  background: rgba(0, 0, 0, 0.25); 
	h1{
		clear:both;
		text-align: center;
	}
	p{
		margin-left: 10%;
		margin-right: 10%;
	}
}
.page-heading{
	margin-left: 5%;
	margin-top: 100px;
	font-size: 28px;
    float:left;
	display:block;
	border-bottom: 1px solid #FFF;
	border-top: 1px solid #FFF;
}
.beer{
	color:#C0C0C0;
}
.art{
	p{
		color: deeppink;
	}
}
ul{
  list-style-type: none;	
}
.right{
	 
	margin-top: 25px;
	float:left;
	width:30%;
	color:#000;
}
.left{
	float:left;
	width:10%;
	color:#000;

}
#animated_div {
	font-size: 20px;
	 z-index: -1;
	margin-left: 50%;
	color:#FFF;
    width: 100px;
    height: 100px;
    padding:15px;
    border-radius: 10px;
    background: red;
    position: relative;
    -webkit-animation: myfirst 5s linear 2s infinite alternate; /* Chrome, Safari, Opera */
    animation: myfirst 5s linear 2s infinite alternate;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    0%   {background:red; left:0px; top:0px;}
    25%  {background:yellow; left:200px; top:0px;}
    50%  {background:blue; left:200px; top:200px;}
    75%  {background:green; left:0px; top:200px;}
    100% {background:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes myfirst {
    0%   {background:red; left:0px; top:0px;}
    25%  {background:yellow; left:200px; top:0px;}
    50%  {background:blue; left:200px; top:200px;}
    75%  {background:green; left:0px; top:200px;}
    100% {background:red; left:0px; top:0px;}
}

.tapsy{
	margin: 25px 0px 50px 10%;
}
.parra{

	margin-top: 50px;
}
.brush{

	margin-bottom: 8px;
	width:20%;
	height:250px;
	float:left;
	margin-left: 5%;
	margin-right: 5%;

}
@mixin image-centered{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.center {@include image-centered;}
a.post-link{
	color: $post-color;
    display:block;
	margin-left:200px;
	border: 6px solid $primary-color;
	border-radius: $my-radius;
	width:300px;
	background-color: $primary-color;
}
.wine{
	margin-top: 60px;
	font-family: $custom-font-family;
	text-align: center;
	background-color: $primary-color;
    background-color:darken($primary-color, $amount)
}
.bot {
	display: block;
	margin-left: 50px;
	width:90px;
	height: 185px;
}
.food{
	
	margin-bottom: 17px;
	font-family: $custom-font-family;
    clear:both;
    display: block;
    width: 50%;

}
.color{
	margin-top: 28px;
	color:#000;
}
